<html>
<head>
	<title>Groupchat</title>
	<link rel="stylesheet" type="text/css" href="../static/css/groupchat.css">
	
</head>
<body>

	<div id="headChat">
		<div id="convType">
			<a href="" id="Home">Home</a> &ensp; <a href="" id="Groups" style="color:#f7ab38">Groups </a> &ensp; <a href=""id="people">People </a>
		</div>
		<div id="user">
			<div id="uImg">
			<img id="userImg" src="../static/img/penguino.png">
			</div>
			<div id="uName">
			<p id="userName"> Engineer Penguino</p>
		</div>
		</div>
	</div>

	<div id="chatContainer">
		<div id="groupInfo">
			<img id="gpImg" src="../static/img/penguino.png">
			<font id="gpName"> Group1</font>
			<a href="leaveGp">Leave Group</a>
			
		</div>
		<div id="chatBody">
			<input type="text" id="chatContent" readonly>
			<div id="onlineContacts">	
				<p id="onConts"> Online Contacts</p>
			</div>
		</div>

		<div id="textInput">
			<input type="text" id="chatInput"/>
			<button type="button" id="send">Send</button>
		</div>

		

	</div>

</body>	
</html>
