<html>
<head>
 <title>group</title>
 <link rel="stylesheet" type="text/css" href="../static/css/group.css">
 <script src='../static/js/jquery-3.1.1.js'></script>
 <script src="{{static_url('js/group.js')}}"></script>
</head>
<body>
 <div id="headChat">
   <div id="convType">
     <a href="http://localhost:8888/homepage" id="Home">Home</a> &ensp; <a href="http://localhost:8888/groups" id="Groups">Groups </a> &ensp; <a href="http://localhost:8888/pe" id="people">People </a>
   </div>
   <div id="user">

       <img id="userImg" src="../static/img/penguino.png">


       <p id="userName"> Engineer Penguino</p>

   </div>
 </div>
 <br>
 <div id="friends" align="left" >
   <button style="float:right;">Create Group</button>
   <p id="f1">My groups:</p>
   <div id="myfriends"  >
     <!--p id="p1" class="myG">
       <img src="../static/img/penguino.png" id="imgG1" />
       <br>
       <button>remove</button>
     </p>
     <p id="p2" class="myG">
       <img src="../static/img/penguino.png" id="imgG2" />
       <br>
       <button>remove</button>
     </p!-->
   </div>
 </div>
 <br>
 <br>

 <div id="Allfriends" >
   <p id="f2">All Groups:</p>
   <div id="myAllfriends" >
     <!--p id="pg1" class="myG">
       <img src="../static/img/penguino.png" id="imgG3" />
       <br>
       <button>add</button>
     </p!-->

   </div>
 </div>



</body>
